module.exports = {
    "shape": "circle",
    "auxinRadius": 0.0125,
    "venationRadius": 0.0125,
    "threesholdAuxinRadius": 0.009,
    "threesholdVenationRadius": 0.0125,
    "neighborhoodRadius": 0.1,
    "seedAuxins": 2000,
    "seedVenations": 3,
    "seedsCenteringFactor": 0.08,
    "maxVenationNodeAge": 2,
    "renderer": "PathRenderer",
    "rendererConfiguration": {
        "drawAuxins": false,
        "twisted": false,
        "venationStrokeColor": "#ACD700",
        "venationStrokeColorAging": false,
        "venationStrokeColorAgingFactor": 0.0035,
        "venationStrokeWidth": 1,
        "venationStrokeWidthAging": true,
        "venationStrokeWidthAgingFactor": 0.05,
        "auxinStrokeColor": "#feba18",
        "shapeFillColor": "#5c7300",
        "shapeStrokeColor": "#666",
        "shapeStrokeWidth": 0
    }
}
